{% extends 'BackOffice/CustomerAccount/layout.html.twig' %}

{% block body %}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier cette réservation</h5>     
        
      </div>
      <div class="modal-body">

        <section class="card text-center my-2 py-2 alert alert-info" id="currentBooking-info">
          <div>{{ booking.bookingDate|date('d M Y')}} à {{ booking.bookingDate|date('H:i')}}</div>
          <div>Nombre de couverts: {{ booking.coversNumber }}</div>
        </section>

        <section class="card booking-schedule h-100" id="booking-schedule">

              <div id="picker"></div>
              
              
        </section>
        {{ form_start(form)}}
        <div class="card my-2 py-2 d-flex align-items-center booking-form">
                
                {{ form_row(form.coversNumber, {'attr': {'class': 'form-control'}} ) }}
                {{ form_row(form.bookingDate) }}
              
        
        </div>
      <div class="modal-footer">
        <a href="{{ path('show_bookings') }}">
          <button type="button" class="btn btn-secondary">Annuler</button>
        </a>
        <button type="submit" class="btn btn-info">Valider</button>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent () }}
<script type="text/javascript">
    $('#exampleModal').modal({show: true, backdrop: 'static', keyboard: false});
</script>
<!-- calendar library picker -->
<script src="{{ asset("js/mark-your-calendar.js") }}"></script>

<script>

// Calendar initialisation.
const months = ['janvier', 'fevrier', 'mars', 'avril', 'mai', 'juin', 'juillet', 'aout', 'septembre', 'octobre', 'novembre', 'decembre'];

function convertMonthsToEnglish (frenchMonth) {
  let month;
  switch (frenchMonth) {
    case "janvier":
      month = "january";
      break;
    case "fevrier":
      month = "february";
      break;
    case "mars":      
      month = "march";
      break;
    case "avril":
      month = "april";
      break;
    case 'mai':
      month = 'may';
      break;
    case 'juin':
      month = 'june';
      break;
    case 'juillet':
      month = 'july';
      break;
    case 'aout':
      month = 'august';
      break;
    case 'septembre':
      month = 'september';
      break;
    case 'octobre':
      month = 'october';
      break;
    case 'novembre':
      month = 'november';
      break;
    case 'decembre':
      month = 'december';
      break;
    default:
      month = 'rien';
  }
  return month;
}

const weekdays = ['dim', 'lun', 'mar', 'mer', 'jeu', 'ven', 'sam'];

const prevHtml = `
            <div id="myc-prev-week">
                <i class="fa fa-chevron-left"></i>
            </div>
        `;

const nextHtml = `
            <div id="myc-next-week">
                <i class="fa fa-chevron-right"></i>
            </div>
        `;

const startDate = new Date("{{ booking.bookingDate|date('Y') }}, {{ booking.bookingDate|date('m') }}, {{ booking.bookingDate|date('d') }}");


// Make calendar sync with backend data.
const calendar = () => {
  fetch('{{ path('time_slots') }}', {
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
    },
    method: 'POST',
    body: JSON.stringify(startDate)
  })
  .then((response) => response.json())
  .then((data) => {

    

    $('#picker').markyourcalendar({
    startDate: startDate,
    availability: data,
    isMultiple: false,
    months: months,
    prevHtml: prevHtml,
    nextHtml: nextHtml,
    weekdays: weekdays,
    selectedDates: [],
    onClickNavigator: function(ev, instance) {
      
      const daysNumberHeader = document.querySelectorAll('.myc-date-number');
      const daysNameHeader = document.querySelectorAll('.myc-date-display');
      const daysName = [];
      const daysNumber = [];

      daysNameHeader.forEach(element => {
        daysName.push(element.innerHTML);
      });

      daysNumberHeader.forEach(element => {
        daysNumber.push(element.innerHTML);
      });

      const monthAndYear = document.getElementById('myc-current-month-year-container').innerHTML;
      const year = (monthAndYear.trim()).match(/\d+/g).toString();
      const frenchMonth = (monthAndYear.trim()).match(/([a-zA-Z ])/g).join("");      
      const englishMonth = convertMonthsToEnglish(frenchMonth.trim());

      const navigateStartDate = new Date(englishMonth + ' ' + daysNumber[0] + ',' + year);
      
      const timeSlot = [];        

      setTimeSlots(instance);

      // On click next or prev, make ajax call to fetch time Slots from backend and set calendar with it.
      function setTimeSlots (instance) {
          fetch('{{ path('time_slots') }}', {
            headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
            },
            method: 'POST',
            body: JSON.stringify(navigateStartDate)
          })
          .then((response) => response.json())
          .then((data) => {
            instance.setAvailability(data);

            // Calendar is loaded => get timeSlots for applying style.
            const times = document.querySelectorAll('.myc-available-time');
            const today = new Date();
            Array.from(times).forEach(element => {
              const date = element.getAttribute('data-date');
              const dateTime = element.getAttribute('data-time');
              if (today.getTime() > new Date(date + 'T' + dateTime)) {
                element.classList.remove("myc-available-time");
                element.classList.add("myc-disabled-time");
              }

            });
            
          })
          .catch(error => console.log(error));
      } 
    },
    onClick: function(event, data) {
      console.log(data)
      const bookingDateInput = document.getElementById('booking_bookingDate');
      bookingDateInput.value = data;
      console.log(bookingDateInput)
    }

    });

    // Calendar is loaded => get timeSlots for applying style(paste dates and times disabled).
    const times = document.querySelectorAll('.myc-available-time');
    const today = new Date();
    Array.from(times).forEach(element => {
      const date = element.getAttribute('data-date');
      const dateTime = element.getAttribute('data-time');
      
      if (today.getTime() > new Date(date + 'T' + dateTime)) {
        
        element.classList.remove("myc-available-time");
        element.classList.add("myc-disabled-time");
      }      
    });

  })
  .catch(error => console.log(error));  
}

calendar()

</script>
{% endblock %}