{% extends 'BackOffice/CustomerAccount/layout.html.twig' %}

{% block body %}

    <div class="text-muted">
        <h1>Mes commandes</h1>
    </div>
    
    <section class="card mt-5 p-3" id="booking">
        <h3 class="card-title py-5 text-muted">Mes commandes</h3>

        {% for message in app.flashes('success') %}

            <div class="alert alert-success fade show" role="alert">
                {{ message }}
            </div>
        
        {% endfor %}

        {% if orders | length > 0 %}

        <table class="table">
            <thead>
                <tr>
                    <th class="p-3 text-center" scope="col">Date </th>
                    <th class="p-3 text-center" scope="col">Heure</th>
                    <th class="p-3 text-center" scope="col">Restaurant</th>
                    <th class="p-3 text-center" scope="col">Type</th>                    
                    <th class="p-3 text-center" scope="col">Montant</th>
                    <th class="p-3 text-center" scope="col">Réservé le</th>
                    <th class="p-3 text-center" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for order in orders %}
                    <tr>
                        <td class="p-3 text-center">{{ order.booking.bookingDate | date("d M Y") }}</td>
                        <td class="p-3 text-center">{{ order.booking.bookingDate | date("H:i")}}</td>
                        <td class="p-3 text-center">{{ order.booking.restaurant.name }}</td>
                        <td class="p-3 text-center">{% if order.type == "onSpot" %}Sur place{% else %}A emporter{% endif %}</td>                        
                        <td class="p-3 text-center">{{ order.amount | format_currency('EUR')}}</td>
                        <td class="p-3 text-center">{{ order.registeredAt | date("d M Y") }}</td>
                        <td class="p-3 text-center">
                            <a href="#" type="button" class="btn btn-info btn-sm mx-1">
                                Modifier
                            </a>                        
                            <button
                                class="btn btn-secondary btn-sm mx-1"
                                >Annuler
                            </button>                        
                        </td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>

        {% else %}

        <div class="alert alert-info">
            <p>Vous n'avez aucune commande en cours pour le moment.</p>
        </div>

        {% endif %}
    </section>
{% endblock %}