{% extends 'BackOffice/ManagerAccount/layout.html.twig'%}

{% block body %}

    <div class="text-muted">
        <h1>Réservations</h1>
    </div>

    <section class="card mt-5 p-3" id="booking_list">     

        {% if bookings | length > 0 %}   

            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Nom du client</th>
                        <th>Téléphone</th>                            
                        <th class="text-center">Nombre de couverts</th>
                        <th>Réservation effectuée le</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                    
                <tbody>
                    {% for booking in bookings %}
                        
                        <tr>
                            <td>{{ booking.bookingDate | date('d M Y') }}</td>
                            <td>{{ booking.bookingDate | date('H:i') }}</td>
                            <td>{{ booking.user.lastName }} {{ booking.user.firstName }}</td>
                            <td>{{ booking.user.phone }}</td> 
                            <td class="text-center">{{ booking.coversNumber }}</td>        
                            <td>{{ booking.bookingAt | date('d M Y') }}</td>                
                            <td>
                                <i class="fa fa-eye mr-3 text-info"></i>
                                <i class="fa fa-trash text-danger"></i>
                            </td>
                        </tr>
                        
                    {% endfor %} 
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info mb-0">
                <p>Aucune réservation en cours.</p>
            </div>
        {% endif %}
               
    </section>
    

{% endblock %}