<div>
    <h2 class="text-center mt-5">Votre panier</h2>
    {% if cart | length > 0 %}
        <table class="m-auto">
            <thead>
                <tr>
                    <th class="px-2">produit</th>
                    <th class="px-2">quantité</th>
                    <th class="px-2 text-right">total</th>
                    <th class="px-2">annuler</th>
                </tr>
            </thead>
            <tbody>

            {% for item in cart %}

            {% set removeCartLineClass = (item.product.menuItems is defined) ? 'remove-menu-cartLine' : 'remove-menuItem-cartLine' %}
            {% set removeCartItemClass = (item.product.menuItems is defined) ? 'remove-menu-carItem' : 'remove-menuItem-cartItem' %}
            {% set addCartItemClass = (item.product.menuItems is defined) ? 'add-menu-cartItem' : 'add-menuItem-cartItem' %}

                <tr>
                    <td class="px-2">{{ item.product.name }}</td>
                    <td class="px-2 text-center">
                        <span class="cart-control {{ removeCartItemClass }}" data-id = {{ item.product.id }}>-</span>
                        {{ item.quantity }} 
                        <span class="cart-control {{ addCartItemClass }}" data-id = {{ item.product.id }}>+</span>
                    </td>
                    <td class="px-2 text-right">{{ (item.product.price * item.quantity) | format_currency('EUR')  }}</td>
                    <td class="px-2 text-center">
                        
                        <li class="cart-control fa fa-trash fa-sm {{ removeCartLineClass }}" data-id = {{ item.product.id }}></li>
                        
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" class="text-right">Total </td>
                    <td class="px-2">{{ total | format_currency('EUR') }}</td>                
                </tr>
            </tfoot>
        </table>
        {% for item in cart %}
            
        {% endfor %}

        <div class="px-2 mt-5 text-center">
            <a href="{{ path('order_summary') }}" type="button" class="btn btn-dark btn-sm w-50 m-3">Valider le panier</a>            
        </div>

        
    {% else %}
        <p class="text-center">Votre panier est vide</p>
    {% endif %}
</div>
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {


        /**
        ******** Manage Menus ********
        */

        // Add menu item to cart.
        const addCartItemMenuButton = $('.add-menu-cartItem');
        addCartItemMenuButton.click(function() {
            const menuId = $(this).attr('data-id');

            let url = `{{ path('add_menu_to_cart', {'id': 'menu_id'}) }}`;
            url = url.replace('menu_id', menuId);

            fetch(url, {
                method: 'post',        
            })
            .then((response) => response.text())
            .then((data) => $('#restaurant-cart').html(data))
        })

        // Remove item menu from cart.
        const removeCartItemMenuButton = $('.remove-menu-carItem');
        removeCartItemMenuButton.click(function() {
            const menuId = $(this).attr('data-id');
            let url = `{{ path('remove_menu_from_cart', {'id': 'menu_id' })}}`;
            url = url.replace('menu_id', menuId);

            fetch(url, {
                method: 'post',                
            })
            .then((response) => response.text())
            .then((data) => $('#restaurant-cart').html(data))
        })

        // Remove Menu line from cart.
        const removeCartLineMenuButton = $('.remove-menu-cartLine');
        removeCartLineMenuButton.click(function() {
            const menuId = $(this).attr('data-id');
            let url = `{{ path('remove_menu_cart_line', {'id': 'menu_id' })}}`;
            url = url.replace('menu_id', menuId);

            fetch(url, {
                method: 'post',                
            })
            .then((response) => response.text())
            .then((data) => $('#restaurant-cart').html(data))
        })

        /**
        ******** Manage Menus ********
        */


        /**
        ******** Manage Menu Items ********
        */

        // Add menuItem item to cart.
        const addCartItemMenuItemButton = $('.add-menuItem-cartItem');
        addCartItemMenuItemButton.click(function() {
            const menuItemId = $(this).attr('data-id');
            console.log(menuItemId);

            let url = `{{ path('add_menu_item_to_cart', {'id': 'id'}) }}`;
            url = url.replace('id', menuItemId);

            fetch(url, {
                method: 'post',        
            })
            .then((response) => response.text())
            .then((data) => $('#restaurant-cart').html(data))
        })

        // Remove item menuItem from cart.
        const removeCartItemMenuItemButton = $('.remove-menuItem-cartItem');
        removeCartItemMenuItemButton.click(function() {
            const menuItemId = $(this).attr('data-id');
            let url = `{{ path('remove_menu_item_from_cart', {'id': 'menuItem_id' })}}`;
            url = url.replace('menuItem_id', menuItemId);

            fetch(url, {
                method: 'post',                
            })
            .then((response) => response.text())
            .then((data) => $('#restaurant-cart').html(data))
        })


        // Remove MenuItem line from cart.
        const removeCartLineMenuItemButton = $('.remove-menuItem-cartLine');
        removeCartLineMenuItemButton.click(function() {
            const menuItemId = $(this).attr('data-id');
            let url = `{{ path('remove_menuItem_cart_line', {'id': 'menuItem_id' })}}`;
            url = url.replace('menuItem_id', menuItemId);

            fetch(url, {
                method: 'post',                
            })
            .then((response) => response.text())
            .then((data) => $('#restaurant-cart').html(data))
        })

        /**
        ******** Manage Menu Items ********
        */        

    })

</script>
{% endblock %}

