{% extends 'base.html.twig' %}


{% block body %}

    <!--search restaurants for -->

    <div class="search-form text-center">
        <h1 class="mt-5 text-muted">Trouver un restaurant</h1>
        <form class="search-restaurant mt-2" action='#' method='GET'>
            <div class="mb-2">
                <select class="form-control restauAutocomplete" name="restaurant" placeholder="Spécialité, nom de restaurant" type="text" autocomplete="off"></select>
            </div>
            <div>
                <select class="form-control cityAutocomplete" name="city" placeholder="City" type="text" autocomplete="off"></select>
            </div>     

            <button class="btn btn-info mt-3">rechercher</button>
        </form>
    </div>


    <!-- search content -->
    
    <section class="search-content">

        

        {% if restaurants is not null and restaurants is defined %}

        <div class="row justify-content-center my-5">

            {% set searchResult = restaurants.getTotalItemCount > 1 ? 'résultats' : 'résultat' %}


            <h2>{{ restaurants.getTotalItemCount }} {{ searchResult }}</h2>

        </div>
        <div class="row row-cols-3 mt-5">

            {% for restaurant in restaurants %}

                <div class= "col d-flex justify-content-center">
                    <div class="card mt-5" style="width: 18rem;">
                        <div class="card-header">{{ restaurant.name }}</div>
                        <div class="card-body">
                          <!--<h5 class="card-title"></h5> -->
                          <p class="card-text">{{ restaurant.address }}</p>
                          <p class="card-text">{{ restaurant.zipcode }} {{ restaurant.city }}</p>
                          <p class="card-text">Tél: {{ restaurant.phone }}</p>
                          <div class="submit-controls d-flex justify-content-between">
                            <a href="#" class="btn btn-info">Réserver</a>
                            <a href="#" class="btn btn-info">Commander</a>
                          </div>
                        </div>
                    </div> 
                </div>
                                            
            {% endfor %}
        </div>   
        <!-- pagination -->
        <div class="row justify-content-center navigation mt-5">
            {{ knp_pagination_render(restaurants, 'Base/pagination.html.twig') }}
        </div> 

        {% endif %}

    </section>
    
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
<script type="text/javascript">

    $(document).ready(function(e) {
        $('.restauAutocomplete').autoComplete({
            minLength: 2,
            resolverSettings: {
                // Route to the autocomplete Controller, and name of the finder to use
                url: "{{path('autocomplete', {'finder_name' : 'restaurants.restaurants_autocomplete'})}}",
            },
            bootstrapVersion: '4',
            events: {
                searchPost: function (resultFromServer) {
                    // Manipulate returned data in order to display title in the search result
                    results = new Array();
                    resultFromServer.forEach((element) => {
                        results.push({'value': element.document.id, 'text': element.document.name });
                    });
                    console.log(results);
                    return results;
                }            
            }
        });

        $('.cityAutocomplete').autoComplete({
            minLength: 2,
            resolverSettings: {
                // Route to the autocomplete Controller, and name of the finder to use
                url: "{{path('autocomplete', {'finder_name' : 'restaurants.cities_autocomplete'})}}",
            },
            bootstrapVersion: '4',
            events: {
                searchPost: function (resultFromServer) {
                    // Manipulate returned data in order to display title in the search result
                    results = new Array();
                    resultFromServer.forEach((element) => {
                        results.push({'value': element.document.id, 'text': element.document.city });
                    });
                    console.log(results);
                    return results;
                }            
            }
        });
    });
</script>
{% endblock %}