{% extends "BackOffice/ManagerAccount/layout.html.twig" %}

{% form_theme form _self %}
{% block _time_slots_timeSlots_entry_row %}
    <tr>
        <th class="time_slot-day pr-5 align-middle" scope="row" ></th>
        <td class="p-3">{{ form_row(form.serviceStartAt)}}</td>
        <td class="p-3">{{ form_row(form.serviceCloseAt)}}</td>
        <td class="p-3">{{ form_row(form.intervalTime)}}</td>
        <td>{{ form_row(form.dayOfWeek) }}</td>
    </tr>
{% endblock %}



{% block body %}

    <div class="text-center mt-5 text-muted">
      <h1>Paramètrer vos horaires</h1>
    </div>

    <div class="mt-5 table-responsive">
        {{ form_start(form)}}      
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="p-3" scope="col">Début de service</th>
                        <th class="p-3" scope="col">Fin de service</th>
                        <th class="p-3" scope="col">Interval</th>
                    </tr>
                </thead>

                <tbody>
                    {{ form_widget(form.timeSlots)}}
                </tbody>
            </table>  
            <div class="d-flex justify-content-center">
                {{ form_widget(form.Valider)}}
            </div>
        {{ form_end(form) }}  
    </div>    

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

    $(document).ready(function() {

    // Collection form builder.
    const $collectionHolder = $('div#time_slots_timeSlots');
    const days = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche' ]
    
    let j = 0;
    for(let index = 7; index > 0; index--) {              
        
        // Add collection form and row class.
        addDayTimeSlots($collectionHolder, index);
        let dayOfWeek =$('#time_slots_timeSlots_' + index + '_dayOfWeek');
        // Set value of day(0 to 6).
        dayOfWeek.val(setDayOfWeek(index));

        // Add days header to table.
        const theaderleft = $('th.time_slot-day');
        const theaderleftArray = Array.from(theaderleft);
        $(theaderleftArray[j]).text(days[j]);
        j++;              
    }

    // Styling table cells.
    $('select').addClass('form-control').css('width', '65px');
    $('select').parent().addClass('d-flex');
    $('input').addClass('form-control').css('width', '45px');


    /**
    * Functions
    * Set the value of day number to hidden form with propriety dayOfWeek (0(sunday) to 6(saturday)).
    */

    function setDayOfWeek(index) {
        switch(index) {
            case 7:
                day = 1;
                break;
            case 6:
                day = 2;
                break;
            case 5:
                day = 3;
                break;
            case 4:
                day = 4;
                break;
            case 3:
                day = 5;
                break;
            case 2:
                day = 6;
                break;
            case 1:
                day = 0; 
                break           
        }
        return day;    
    }
    
    // Hold collection and add form collection item from symfony form.
    function addDayTimeSlots(collectionHolder, index, days){
                    const template = $collectionHolder.attr('data-prototype').replace(/__name__label__/g, index).replace(/__name__/g, index);
                    const $prototype = $(template);                    
                    const tbody = $('tbody');                    
                    tbody.append($prototype);                    
                }
    });

</script>

{% endblock %}