{% extends 'BackOffice/ManagerAccount/layout.html.twig' %}

{% block body %}

{% set days = ['Lundi', 'Mardi', 'Mercredi','Jeudi','Vendredi', 'Samedi', 'Dimanche'] %}
{% set index = 0 %}
    <div class="text-muted">
        <h1>Mes horaires</h1>
    </div>

    <section class="card mt-5 p-3">          

        <h3 class="card-title text-muted py-5">Mes horaires hebdomadaires</h3>  

        {% if timeSlots | length >  0 %}

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th class="p-3 text-center" scope="col">Début du service</th>
                    <th class="p-3 text-center" scope="col">Fin du service</th>
                    <th class="p-3 text-center" scope="col">Interval</th>
                </tr>
            </thead>
        
            <tbody>

                {% for timeSlot in timeSlots %}  
                    {% if timeSlot.hasDate == false %}
                        <tr>
                            <th class="time_slot_day pr-5" scope"row">{{ days[index] }}</th>
                            <td class="p-3 text-center">{{ timeSlot.serviceStartAt|date('H:i') }}</td>
                            <td class="p-3 text-center">{{ timeSlot.serviceCloseAt|date('H:i') }}</td>
                            <td class="p-3 text-center">{{ timeSlot.intervalTime }}</td>
                        </tr>
                    {% endif %}
                {% set index = index + 1 %}
                {% endfor %}

            </tbody>
            
        </table>

        <div class="">
            <a href="{{ path('update_timeSlots', { id: 1 }) }}" class="btn btn-info">Modifier</a>
        </div>   

        {% else %}   
            <div class="alert alert-info">
                <p>Vous n'avez pas défini vos horaires d'ouverture pour le moment.
                <a href="{{ path('set_timeSlots', {'id': app.user.id}) }}" type="button" class="btn btn-info btn-sm">Définir mes horaires</a>
                </p>
            </div>
        {% endif %}
    </section>  
    
    <section class="card p-3 mt-2" id="dated-time-slots">
        <h3 class="py-5 text-muted">Horaires d'ouverture à une date spécifique.</h3>

        {% if datedTimeSlots | length > 0 %}
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Début de service</th>
                        <th>Fin de service</th>
                        <th>Intervalle</th>
                    </tr>
                </thead>
            {% for timeSlot in datedTimeSlots | sort((a, b) => a.dateOfDay <=> b.dateOfDay) %}
                {% if timeSlot.isClosed == false %}

                    <tbody>
                        <tr>
                            <td>{{ timeSlot.dateOfDay|date("d-M-Y") }}</td>
                            <td>{% if timeSlot.serviceStartAt is not null %} {{ timeSlot.serviceStartAt|date('H:i') }} {% else %} Fermeture {% endif %}</td>
                            <td>{% if timeSlot.serviceStartAt is not null %} {{ timeSlot.serviceCloseAt|date('H:i') }} {% else %} Fermeture {% endif %}</td>
                            <td>{{ timeSlot.intervalTime }}</td>
                        </tr>
                    </tbody>

                {% endif %}
                
            {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-info">
            <p>Aucune date n'a été définie pour le moment.</p>
        </div>
        {% endif %}
    </section>
     

{% endblock %}