{% extends 'BackOffice/ManagerAccount/layout.html.twig' %}

{% block body %}

{% set days = ['Lundi', 'Mardi', 'Mercredi','Jeudi','Vendredi', 'Samedi', 'Dimanche'] %}
{% set index = 0 %}
    <div class="text-muted">
        <h1>Mes horaires</h1>
    </div>

    <section class="card mt-5 p-3">          

        <h3 class="card-title text-muted py-5">Mes horaires hebdomadaires</h3>  

        {% if timeSlots | length >  0 %}

        <table class="table">
            <thead>                
                <tr>
                    <th></th>
                    <th></th>
                    <th class="p-3 text-center" scope="col">Premier Service</th>
                    <th class="p-3 text-center" scope="col">Deuxième service</th>
                    <th class="p-3 text-center" scope="col">Intervalle(minutes)</th>                    
                </tr>
            </thead>
        
            <tbody>
            
                {% for timeSlot in timeSlots %}
                            
                        
                    {% if timeSlot.status == 9 %}

                        {% include 'BackOffice/ManagerAccount/Slots/partials/show_time_slots/normal_day.html.twig' %}

                    {% elseif timeSlot.status == 8 %}

                        {% include 'BackOffice/ManagerAccount/Slots/partials/show_time_slots/continous_day.html.twig' %}

                    {% elseif timeSlot.status == 7 %}
                            
                        {% include 'BackOffice/ManagerAccount/Slots/partials/show_time_slots/closed_day.html.twig' %}

                    {% elseif timeSlot.status == 10 %}

                        {% include 'BackOffice/ManagerAccount/Slots/partials/show_time_slots/am_day.html.twig' %}

                    {% elseif timeSlot.status == 11 %}

                        {% include 'BackOffice/ManagerAccount/Slots/partials/show_time_slots/pm_day.html.twig' %}

                    {% endif %}                            
                    
                {% set index = index + 1 %}
                {% endfor %}

            </tbody>
            
        </table>  

        {% else %}   
            <div class="alert alert-info">
                <p>Vous n'avez pas défini vos horaires d'ouverture pour le moment.
                <a href="{{ path('set_timeSlots') }}" type="button" class="btn btn-info btn-sm">Définir mes horaires</a>
                </p>
            </div>
        {% endif %}
    </section>  
    
    <section class="card p-3 mt-2" id="dated-time-slots">
        <h3 class="py-5 text-muted">Dates pour lesquelles les horaires d'ouvertures ont été modifiés</h3>

        {% if datedTimeSlots | length > 0 %}
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="2" class="text-center">Service Midi</th>
                        <th colspan="2" class="text-center">Service soir</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <th class="text-center">Début</th>
                        <th class="text-center">Fin</th>
                        <th class="text-center">Début</th>
                        <th class="text-center">Fin</th>
                        <th class="text-center">Intervalle(minutes)</th>
                    </tr>
                </thead>
            {% for timeSlot in datedTimeSlots | sort((a, b) => a.dateOfDay <=> b.dateOfDay) %}


            <!-- TODO delete condition : ne pas afficher les dates de fermeture dans cette vue -->
                {% if timeSlot.status == 9 %}

                    <tbody>
                        <tr>
                            <td>{{ timeSlot.dateOfDay|date("d-M-Y") }}</td>
                            <td class="text-center">{{ timeSlot.serviceStartAtAm|date('H:i') }}</td> 
                            <td class="text-center">{{ timeSlot.serviceCloseAtAm|date('H:i') }}</td>
                            <td class="text-center">{{ timeSlot.serviceStartAtPm|date('H:i') }}</td> 
                            <td class="text-center">{{ timeSlot.serviceCloseAtPm|date('H:i') }}</td>
                            <td class="text-center">{{ timeSlot.intervalTime }}</td>
                        </tr>
                    </tbody>

                {% endif %}
                
            {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-info">
            <p>Aucune date n'a été définie pour le moment.</p>
        </div>
        {% endif %}
    </section>
     

{% endblock %}