{% extends 'BackOffice/ManagerAccount/layout.html.twig' %}


{% form_theme timeSlotcollectionForm _self %}
{% block _time_slots_timeSlots_entry_row %}
    <tr>
        <th class="time_slot-day pr-5" scope="row" ></th>
        <td class="p-3">{{ form_row(form.serviceStartAt)}}</td>
        <td class="p-3">{{ form_row(form.serviceCloseAt)}}</td>
        <td class="p-3">{{ form_row(form.intervalTime)}}</td>
        <td>{{ form_row(form.dayOfWeek) }}</td>
    </tr>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}

    <!-- Bootstrap datepicker form -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">            
    <!-- Bootstrap datepicker form -->

{% endblock %}

{% block body %}

    <div class="text-muted">
          <h1>Gestion des horaires</h1>
    </div>

<!-- Update schedule time slots -->

    <section class="card mt-5 p-3" id="week-days-schedule">
        <h3 class="card-title py-5 text-muted">Modifier vos horaires d'ouverture hebdomadaires</h2>
        {{ form_start(timeSlotcollectionForm)}}      
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="p-3" scope="col">Début de service</th>
                            <th class="p-3" scope="col">Fin de service</th>
                            <th class="p-3" scope="col">Intervalle(min)</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{ form_widget(timeSlotcollectionForm.timeSlots)}}
                    </tbody>
                </table>
            </div>
            <div>
                {{ form_widget(timeSlotcollectionForm.Valider)}}
            </div>            
        {{ form_end(timeSlotcollectionForm) }} 
    </section>

    <!-- Update schedule time slots -->


    <!-- Update time slot on specific date -->
    
    <section class="card mt-2 p-3" id="dated-timeSlot-form">      
        <h3 class="card-title py-5 text-muted">Modifer vos horaires d'ouverture pour une date spécifique.</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Début de service</th>
                    <th>Fin de service</th>
                    <th>Intervalle(min)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                {{form_start(datedTimeSlotForm)}}
                <tr>
                    <td>{{ form_row(datedTimeSlotForm.dateOfDay)}}</td>
                    <td>{{ form_row(datedTimeSlotForm.serviceStartAt)}}</td>
                    <td>{{ form_row(datedTimeSlotForm.serviceCloseAt)}}</td>
                    <td>{{ form_row(datedTimeSlotForm.intervalTime)}}</td>
                    <td><button type="submit" class="btn btn-info btn-sm">ajouter</button></td>
                    <td>{{ form_row(datedTimeSlotForm.dayOfWeek)}}</td>
                </tr>
                {{ form_end(datedTimeSlotForm) }}

            </tbody>
        </table>            
        
    </section>   

    <!-- Update time slot on specific date -->


    <!-- Dated time slots list -->
    

        <section class="card mt-2 p-3" id="dated-time-slots">
            {% if datedTimeSlots | length > 0 %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>date</th>
                            <th>Début de service</th>
                            <th>Fin de service</th>
                            <th>Intervalle</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                {% for timeSlot in datedTimeSlots | sort((a, b) => a.dateOfDay <=> b.dateOfDay) %}

                    {% if timeSlot.isClosed == false %}
                        <tbody>
                            <tr>
                                <td>{{ timeSlot.dateOfDay|date("d-M-Y") }}</td>
                                <td>{{ timeSlot.serviceStartAt|date('H:i') }}</td>
                                <td>{{ timeSlot.serviceStartAt|date('H:i') }}</td>
                                <td>{{ timeSlot.intervalTime }}</td>
                                <td><a href="" type="button" class="btn btn-danger btn-sm">Supprimer</a></td>
                            </tr>
                        </tbody>
                    {% endif %}

                {% endfor %}
                </table>

            {% else %}

                <div class="alert alert-info" id="dated-time-slots">
                    <p>Aucune date n'a été définie pour le moment.</p>
                </div>

            {% endif %}
        </section>

    <!-- Dated time slots list -->

{% endblock %}

{% block javascripts %}

{{ parent() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.fr.min.js"></script>
<script type="text/javascript">

    // initialize datepicker.
    $(document).ready(function() {
        $('.js-datepicker').datepicker({
            language: 'fr',
            format: 'dd-mm-yyyy',            
            autoclose: true,
            todayHighlight: true
        });

        // Collection form builder.
        const $collectionHolder = $('div#time_slots_timeSlots');
        const days = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche' ]
        
        let j = 0;
        for(let index = 7; index > 0; index--) {              
        
            //Add collection form and row class.
            //addDayTimeSlots($collectionHolder, index);

            // Set day of week to time slot item from collection form.
            let dayOfWeek =$('#time_slots_timeSlots_' + (7 - index) + '_dayOfWeek');
            // Set value of day(0 to 6).
            dayOfWeek.val(setDayOfWeek(index));

            // Add days header to table.
            const theaderleft = $('th.time_slot-day');
            const theaderleftArray = Array.from(theaderleft);
            $(theaderleftArray[j]).text(days[j]);
            j++;              
        }

        // Styling table cells.
        $('select').addClass('form-control').css('width', '65px');
        $('select').parent().addClass('d-flex');
        $('input').addClass('form-control').css('width', '45px');
        $('#dated_time_slot_dateOfDay').css('width', '130px');
        $('#closed_date_time_slots_startdate').css('width', '130px');
        $('#closed_date_time_slots_endDate').css('width', '130px');

        /**
        * Functions
        * Set the value of day number to hidden form with propriety dayOfWeek (0(sunday) to 6(saturday)).
        */

        function setDayOfWeek(index) {
            switch(index) {
                case 7:
                    day = 1;
                    break;
                case 6:
                    day = 2;
                    break;
                case 5:
                    day = 3;
                    break;
                case 4:
                    day = 4;
                    break;
                case 3:
                    day = 5;
                    break;
                case 2:
                    day = 6;
                    break;
                case 1:
                    day = 0; 
                    break           
            }
            return day;
        }
        // Hold collection and add form collection item from symfony form.
        function addDayTimeSlots(collectionHolder, index, days){
                        const template = $collectionHolder.attr('data-prototype').replace(/__name__label__/g, index).replace(/__name__/g, index);
                        const $prototype = $(template);                    
                        const tbody = $('tbody');                    
                        tbody.append($prototype);                    
                    }
    });

</script>

{% endblock %}