{% extends 'BackOffice/ManagerAccount/layout.html.twig' %}


{% form_theme timeSlotcollectionForm _self %}
{% block _time_slots_timeSlots_entry_row %}
    <tr>
        <th class="time_slot-day pr-5 align-middle" scope="row" rowspan="2"></th>
        <td class="p-4">Ouverture</td>
        <td class="p-4 slot-item start-am">{{ form_row(form.serviceStartAtAm)}}</td>
        <td class="p-4 slot-item start-pm">{{ form_row(form.serviceStartAtPm)}}</td>
        <td class="p-4 slot-item d-flex justify-content-center">{{ form_row(form.intervalTime)}}</td>
        <td class="p-4 slot-item timeslot-status">{{ form_row(form.status) }}</td>
        <td>{{ form_row(form.dayOfWeek) }}</td>
    </tr>
    <tr style="border-bottom: 1px solid #dee2e6;">
        <td class="p-4">Fermeture</td>
        <td class="p-4 slot-item close-am">{{ form_row(form.serviceCloseAtAm)}}</td>
        <td class="p-4 slot-item close-pm">{{ form_row(form.serviceCloseAtPm)}}</td>          
    </tr>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}

    <!-- Bootstrap datepicker form -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">            
    <!-- Bootstrap datepicker form -->

{% endblock %}

{% block body %}

    <div class="text-muted">
          <h1>Gestion des horaires</h1>
    </div>

<!-- Update schedule time slots -->

    <section class="card mt-5 p-3" id="week-days-schedule">
        <h3 class="card-title py-5 text-muted">Modifier vos horaires d'ouverture hebdomadaires</h2>
        {% if weeklyTimeSlots | length > 0 %}
            {{ form_start(timeSlotcollectionForm)}}      
                <div class="table-responsive">
                    <table class="table">
                        <thead>                            
                            <tr>
                                <th></th>
                                <th></th>
                                <th scope="col" class="text-center">Premier Service</th>
                                <th scope="col" class="text-center">Deuxième service</th>
                                <th scope="col" class="text-center">Intervalle(minutes)</th>
                                <th scope="col" class="text-center">Type</th>                                
                            </tr>
                        </thead>

                        <tbody>
                            {{ form_widget(timeSlotcollectionForm.timeSlots)}}
                        </tbody>
                    </table>
                </div>
                <div>
                    {{ form_widget(timeSlotcollectionForm.Valider)}}
                </div>            
            {{ form_end(timeSlotcollectionForm) }} 
        {% else %}
            <div class="alert alert-info">
                <p>Vous n'avez pas défini vos horaires d'ouverture pour le moment.
                <a href="{{ path('set_timeSlots') }}" type="button" class="btn btn-info btn-sm">Définir mes horaires</a>
                </p>
            </div>
        {% endif %}
    </section>

    <!-- Update schedule time slots -->


    <!-- Add time slot on specific date -->
    
    <section class="card mt-2 p-3" id="dated-timeSlot-form">      
        <h3 class="card-title py-5 text-muted">Modifer vos horaires d'ouverture pour une date spécifique.</h3>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th colspan="2" class="text-center">Premier service</th>
                    <th colspan="2" class="text-center">Deuxième service</th>
                    <th></th>
                </tr>
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">Ouverture</th>
                    <th class="text-center">Fermeture</th>
                    <th class="text-center">Ouverture</th>
                    <th class="text-center">Fermeture</th>
                    <th>Intervalle(minutes)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                {{form_start(datedTimeSlotForm)}}
                <tr>
                    <td>{{ form_row(datedTimeSlotForm.dateOfDay)}}</td>
                    <td>{{ form_row(datedTimeSlotForm.serviceStartAtAm)}}</td>
                    <td>{{ form_row(datedTimeSlotForm.serviceCloseAtAm)}}</td>
                    <td>{{ form_row(datedTimeSlotForm.serviceStartAtPm)}}</td>
                    <td>{{ form_row(datedTimeSlotForm.serviceCloseAtPm)}}</td>
                    <td>{{ form_row(datedTimeSlotForm.intervalTime)}}</td>
                    
                    <td>{{ form_row(datedTimeSlotForm.dayOfWeek)}}</td>
                </tr>
                

            </tbody>
        </table> 
        <div class="form-controls">
            <button type="submit" class="btn btn-info">ajouter</button>
        </div>
        {{ form_end(datedTimeSlotForm) }}           
        
    </section>   

    <!-- Add time slot on specific date -->


    <!-- Dated time slots list -->
    

        <section class="card mt-2 p-3" id="dated-time-slots">
            {% if datedTimeSlots | length > 0 %}
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th colspan="2" class="text-center">Service midi</th>
                            <th colspan="2" class="text-center">Service Soir</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <th class="text-center">Début</th>
                            <th class="text-center">Fin</th>
                            <th class="text-center">Début</th>
                            <th class="text-center">Fin</th>
                            <th class="text-center">Intervalle</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                {% for timeSlot in datedTimeSlots | sort((a, b) => a.dateOfDay <=> b.dateOfDay) %}

                    {% if timeSlot.status != 7 %}
                        <tbody>
                            <tr>
                                <td>{{ timeSlot.dateOfDay|date("d-M-Y") }}</td>
                                <td class="text-center">{{ timeSlot.serviceStartAtAm|date('H:i') }}</td>
                                <td class="text-center">{{ timeSlot.serviceCloseAtAm|date('H:i') }}</td>
                                <td class="text-center">{{ timeSlot.serviceStartAtPm|date('H:i') }}</td>
                                <td class="text-center">{{ timeSlot.serviceCloseAtPm|date('H:i') }}</td>
                                <td class="text-center">{{ timeSlot.intervalTime }}</td>
                                <td class="text-center">
                                    <button
                                        class="btn btn-danger btn-sm"
                                        data-toggle="modal"
                                        data-target="#delete-modal"
                                        data-timeSlotId="{{ timeSlot.id }}"
                                         >Supprimer
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    {% endif %}

                {% endfor %}
                </table>

            {% else %}

                <div class="alert alert-info" id="dated-time-slots">
                    <p>Aucune date n'a été définie pour le moment.</p>
                </div>

            {% endif %}
        </section>

        {% include 'BackOffice/ManagerAccount/Slots/partials/update_time_slots/delete_dated_time_slot_modal.html.twig' %}

    <!-- Dated time slots list -->



{% endblock %}

{% block javascripts %}

{{ parent() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.fr.min.js"></script>
<script type="text/javascript">

    // initialize datepicker.
    $(document).ready(function() {
        $('.js-datepicker').datepicker({
            language: 'fr',
            format: 'dd-mm-yyyy',            
            autoclose: true,
            todayHighlight: true
        });

        // Collection form builder.
        const $collectionHolder = $('div#time_slots_timeSlots');
        const days = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche' ]
        
        let j = 0;
        for(let index = 7; index > 0; index--) {              
        
            //Add collection form and row class.
            //addDayTimeSlots($collectionHolder, index);

            // Set day of week to time slot item from collection form.
            let dayOfWeek =$('#time_slots_timeSlots_' + (7 - index) + '_dayOfWeek');
            // Set value of day(0 to 6).
            dayOfWeek.val(setDayOfWeek(index));

            // Add days header to table.
            const theaderleft = $('th.time_slot-day');
            const theaderleftArray = Array.from(theaderleft);
            $(theaderleftArray[j]).text(days[j]);
            j++;              
        }

        // Styling table cells.
        $('select').addClass('form-control');
        $('#dated_time_slot_dateOfDay').css('width', '130px');

        //Change form render regardling the timeSlot status.

        const status = $('.timeslot-status select');
        status.on('change', function (event) {
            console.log(event.target.value)
            const id = $(this).attr('id');
            const numberId = id.replace(/\D/g,'');

            if(event.target.value == 8) {
                
                $('#time_slots_timeSlots_' + numberId + '_serviceStartAtAm').parent().prop('disabled', false)
                $('#time_slots_timeSlots_' + numberId + '_serviceCloseAtAm').parent().prop('disabled', false)
                $('#time_slots_timeSlots_' + numberId + '_serviceStartAtPm').parent().prop('disabled', 'disabled')
                $('#time_slots_timeSlots_' + numberId + '_serviceCloseAtPm').parent().prop('disabled', 'disabled')
               
            } else if (event.target.value == 7) {

                $('#time_slots_timeSlots_' + numberId + '_serviceStartAtAm').parent().prop('disabled', 'disabled')
                $('#time_slots_timeSlots_' + numberId + '_serviceCloseAtAm').parent().prop('disabled', 'disabled')
                $('#time_slots_timeSlots_' + numberId + '_serviceStartAtPm').parent().prop('disabled', 'disabled')
                $('#time_slots_timeSlots_' + numberId + '_serviceCloseAtPm').parent().prop('disabled', 'disabled')

            } else if (event.target.value == 9){
                $('#time_slots_timeSlots_' + numberId + '_serviceStartAtAm').parent().prop('disabled', false)
                $('#time_slots_timeSlots_' + numberId + '_serviceCloseAtAm').parent().prop('disabled', false)
                $('#time_slots_timeSlots_' + numberId + '_serviceStartAtPm').parent().prop('disabled', false)
                $('#time_slots_timeSlots_' + numberId + '_serviceCloseAtPm').parent().prop('disabled', false)
            }            
        })

        

        /**
        * Functions
        * Set the value of day number to hidden form with propriety dayOfWeek (0(sunday) to 6(saturday)).
        */

        function setDayOfWeek(index) {
            switch(index) {
                case 7:
                    day = 1;
                    break;
                case 6:
                    day = 2;
                    break;
                case 5:
                    day = 3;
                    break;
                case 4:
                    day = 4;
                    break;
                case 3:
                    day = 5;
                    break;
                case 2:
                    day = 6;
                    break;
                case 1:
                    day = 0; 
                    break           
            }
            return day;
        }
        // Hold collection and add form collection item from symfony form.
        function addDayTimeSlots(collectionHolder, index, days){
                        const template = $collectionHolder.attr('data-prototype').replace(/__name__label__/g, index).replace(/__name__/g, index);
                        const $prototype = $(template);                    
                        const tbody = $('tbody');                    
                        tbody.append($prototype);                    
                    }
    });

</script>
<script type="text/javascript">

    // delete dated time slot modal control.
    $(document).ready(function () {
        $('#delete-modal').on('show.bs.modal', function (event) {

            const timeSlotId  = event.relatedTarget.getAttribute("data-timeSlotId");

            let url = `{{ path('delete_dated_timeSlot', {'id': 'timeSlot_id' }) }}`;
            url = url.replace('timeSlot', timeSlotId);
            $('#delete-timeSlot').attr('href', url);            
        })
    })


</script>

{% endblock %}