{% extends 'BackOffice/ManagerAccount/layout.html.twig' %}

{% block stylesheets%}
    {{ parent() }}    
{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}

    <div class="alert alert-success fade show" role="alert">
        {{ message }}
    </div>

{% endfor %}


    <div>  
        <div class="text-muted">
              <h1>Gérer mes produits</h1>
        </div> 
{% if dishes | length > 0 %}

        <section class="card mt-5 p-3" id="dishes-list">
            
            
            <table class="table">
                <thead>
                    <tr>
                        <th class="p-3" scope="col">Produit</th>
                        <th class="p-3" scope="col">Catégorie</th>                        
                        <th class="p-3" scope="col">Prix unitaire(Euros)</th>
                        <th class="p-3" scope="col">Ajouté le</th>
                        <th class="p-3" scope="col">Actions</th>
                    </tr>
                </thead>
                {% for dish in dishes %}

                <tbody>                    
                    <tr>
                        <td class="p-3">{{ dish.name}}</td>
                        <td class="p-3">{{ dish.category.name }}</td>                        
                        <td class="p-3">{{ dish.price|format_currency('EUR') }}</td>
                        <td class="p-3">{{ dish.addedAt|date('d-M-Y') }}</td>
                        <td class="p-3">
                            <a href="#" type="button" class="btn btn-danger btn-sm">Supprimer</a>
                        </td>
                    </tr>                                     
                </tbody>

                {% endfor %} 
            </table>

            

        </section>
    </div>

    {% else %}

    <div class="alert alert-info">
        <p>Vous ne proposez aucun produit pour le moment.</p>
    </div>

{% endif %}

    <section class="card mt-5 p-3">
        <h2>Ajouter un produit</h2>   
        {{ form(form) }}     
    </section>

{% endblock %}