{% extends 'BackOffice/ManagerAccount/layout.html.twig' %}

{% block body %}

    <div class="text-muted">
        <h1>Modifier les informations de mon restaurant.</h1>
    </div>
    <section class="card user-profile mt-5 p-3" id="manager-profile-edit">
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.address) }}
            {{ form_row(form.zipcode) }}
            {{ form_row(form.city) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.speciality) }}
            
            {% if form.imageFile.vars.data %}
                <div>
                    <img src="{{ asset('uploads/images/' ~ form.imageFile.vars.data.filename)}}" alt="" class="img-thumbnail">  
                </div>              
            {% endif %}

            {{  form_row(form.imageFile) }}
            
            <div>
                <span class="mb-2 d-block">Permettre les commandes en ligne</span>
                {{ form_row(form.orderEnabled) }}
            </div>
            <div class="form-controls">
                <div class="d-inline-block">
                    <button type="submit" class="btn btn-info">Modifier</button>                      
                </div>
                <div class="d-inline-block ml-3">
                    <a href="{{ path('show_restaurant_details') }}" type="button" class="btn btn-secondary">Annuler</a>
                </div>
            </div>
            <div class="submit-form">
                
            </div>
        {{ form_end(form) }}
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.custom-file-input').on('change', function(event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
{% endblock %} 