{% extends 'base.html.twig' %}

{% block body %}

{% set days = ['Lundi', 'Mardi', 'Mercredi','Jeudi','Vendredi', 'Samedi', 'Dimanche'] %}
{% set index = 0 %}
    <div class="text-center mt-5 text-muted">
        <h1>Horaires</h1>
    </div>

    <div>    
        <table class="table mt-5">
            <thead>
                <tr>
                    <th></th>
                    <th class="p-3 text-center" scope="col">Début du service</th>
                    <th class="p-3 text-center" scope="col">Fin du service</th>
                    <th class="p-3 text-center" scope="col">Interval</th>
                </tr>
            </thead>
        
            <tbody>

                {% for timeSlot in timeSlots %}  
                <tr>
                    <th class="time_slot_day pr-5" scope"row">{{ days[index] }}</th>
                    <td class="p-3 text-center">{{ timeSlot.serviceStartAt|date('H:i') }}</td>
                    <td class="p-3 text-center">{{ timeSlot.serviceCloseAt|date('H:i') }}</td>
                    <td class="p-3 text-center">{{ timeSlot.intervalTime }}</td>
                </tr>
                {% set index = index + 1 %}
                {% endfor %}

            </tbody>
            
        </table>

        <div class="d-flex justify-content-center">
            <a href="{{ path('update_timeSlots', { id: 1 }) }}" class="btn btn-info">Modifier</a>
        </div>      
</div>    

{% endblock %}