{% extends "base.html.twig" %}

{% form_theme form _self %}
{% block _time_slots_timeSlots_entry_row %}

    <tr>
        <th class="time_slot-day pr-5" scope="row" ></th>
        <td class="p-3">{{ form_row(form.serviceStartAt)}}</td>
        <td class="p-3">{{ form_row(form.serviceCloseAt)}}</td>
        <td class="p-3">{{ form_row(form.intervalTime)}}</td>
        <td>{{ form_row(form.dayOfWeek) }}</td>
    </tr>
{% endblock %}



{% block body %}

<div class="mt-5">
    {{ form_start(form)}}      
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th class="p-3" scope="col">Début de service</th>
                    <th class="p-3" scope="col">Fin de service</th>
                    <th class="p-3" scope="col">Interval</th>
                </tr>
            </thead>

            <tbody>
                {{ form_widget(form.timeSlots)}}
            </tbody>
        </table>  
        {{ form_widget(form.Valider)}}
    {{ form_end(form) }}  
</div>

    

{% endblock %}

{% block javascripts %}

{{ parent() }}


<script type="text/javascript">

    $(document).ready(function() {
    // Collection form build.
    const $collectionHolder = $('div#time_slots_timeSlots');
    const days = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche' ]
    
    let j = 0;
    for(let index = 7; index > 0; index--) {              
        
        // Add collection form and row class.
        //addDayTimeSlots($collectionHolder, index);
        $('#time_slots_timeSlots_' + index).attr({class: 'row'});
        let dayOfWeek =$('#time_slots_timeSlots_' + index + '_dayOfWeek');
        // Set value of day(0 to 6).
        dayOfWeek.val(setDayOfWeek(index));

        // Add days header to table.
        const theaderleft = $('th.time_slot-day');
        const theaderleftArray = Array.from(theaderleft);
        $(theaderleftArray[j]).text(days[j]);
        j++;              
    }


    // Functions

    function setDayOfWeek(index) {
        switch(index) {
            case 7:
                return 1;
                break;
            case 6:
                return 2;
                break;
            case 5:
                return 3;
                break;
            case 4:
                return 4;
                break;
            case 3:
                return 5;
                break;
            case 2:
                return 6;
                break;
            case 1:
                return 0;            
        }
    }
    
     function addDayTimeSlots(collectionHolder, index, days){
                     const template = $collectionHolder.attr('data-prototype').replace(/__name__label__/g, index).replace(/__name__/g, index);
                     const $prototype = $(template);                    
                     const tbody = $('tbody');                    
                     tbody.append($prototype);                    
                 }
    });

</script>






{% endblock %}