{% extends 'BackOffice/ManagerAccount/layout.html.twig' %}

{% block stylesheets%}
    {{ parent() }}    
{% endblock %}

{% block body %}
     
        <div class="text-muted">
              <h1>Gérer mes produits</h1>
        </div> 

    {% if products | length > 0 %}

        <section class="card mt-5 p-3" id="products-list">
            <table class="table">
                <thead>
                    <tr>                        
                        <th class="p-3" scope="col">Catégorie</th>   
                        <th class="p-3" scope="col">Nom</th>                     
                        <th class="p-3" scope="col">Prix unitaire(Euros)</th>
                        <th class="p-3" scope="col">Ajouté le</th>
                        <th class="p-3" scope="col">Actions</th>
                    </tr>
                </thead>
                {% for product in products %}

                <tbody>                    
                    <tr>                        
                        <td class="p-3">{{ product.category.name }}</td>
                        <td class="p-3">{{ product.name}}</td>                        
                        <td class="p-3">{{ product.price|format_currency('EUR') }}</td>
                        <td class="p-3">{{ product.addedAt|date('d-M-Y') }}</td>
                        <td class="p-3">
                            <a href="{{ path('show_product_details', {'id': product.id}) }}" type="button">
                                <i class="fa fa-eye text-info mr-3"></i>
                            </a>
                            <a href="{{ path('edit_product', {'id': product.id}) }}" type="button" class="mr-3">
                                <i class="fa fa-edit text-success"></i>
                            </a>
                            <i
                                type="button"
                                class="fa fa-trash text-danger mr-3"
                                data-toggle="modal"
                                data-target="#delete-modal"
                                data-productId="{{ product.id }}"
                                >
                            </i>
                        </td>
                    </tr>                                     
                </tbody>
                
                {% endfor %} 
            </table>
        </section>

        {% include 'BackOffice/ManagerAccount/Product/partials/delete/delete_modal.html.twig' %}


    {% else %}

        <div class="alert alert-info">
            <p>Vous ne proposez aucun produit pour le moment.</p>
        </div>

    {% endif %}

        <section class="card mt-5 p-3">

            <h2>Ajouter un produit</h2>   

            {{ form(form) }}

        </section>

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">

    // delete dated time slot modal control.
    $(document).ready(function () {
        $('#delete-modal').on('show.bs.modal', function (event) {

            const productId  = event.relatedTarget.getAttribute("data-productId");

            let url = `{{ path('delete_product', {'id': 'product_id' }) }}`;
            url = url.replace('product_id', productId);
            $('#delete-product').attr('href', url);            
        })
    })

</script>
{% endblock %}