{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-8">
        <section class="mt-5" id="menu-list">
            <div>
                <div class="mb-5">
                    <h1 class="d-inline">Nos menus</h1><a href="{{ path('card_store', {'id': restaurant.id}) }}" class="btn btn-outline-dark btn-sm mb-3 ml-5">Voir la carte</a>
                </div>

                {% if menus | length > 0 %}

                    <div class="row no-gutters">

                        {% for menu in menus | sort((a, b) => a.name <=> b.name) %}
                            <div class="col-4 mb-2">
                                <div class="card h-100 m-1" id="menu-restaurant-item">
                                    <div class="card-body d-flex flex-column">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title">{{ menu.name }}</h5>
                                        <p>{{ menu.price | format_currency('EUR') }}</p>
                                    </div>                                
                                        <p class="card-text">{{ menu.description }}</p>

                                        <button class="btn btn-info btn-sm w-100 mt-auto add-cartItem" data-menuId="{{ menu.id }}">
                                            Ajouter
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                {% endif %}
            </div>
        </section>
    </div>
    <div class="col-4">
        <section class="card" id="restaurant-cart">
            {{ render(path('cart_index')) }}
        </section>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

    $(document).ready(function () {
        const addButton = $('.add-cartItem');
        addButton.click(function() {
            const menuId = $(this).attr('data-menuId');

            let url = `{{ path('add_menu_to_cart', {'id': 'menu_id'}) }}`;
            url = url.replace('menu_id', menuId);

            fetch(url, {
                method: 'POST',        
            })
            .then((response) => response.text())
            .then((data) => $('#restaurant-cart').html(data))
        })
    })

</script>
{% endblock %}