{% extends 'base.html.twig' %}

{% block stylesheets%}
    {{ parent() }}    
{% endblock %}

{% block body %}
<div class="text-center mt-5 text-muted">
  <h1>Réserver</h1>
</div>

<div class="row mt-5 booking-container">
    <section class="card booking-details col-7">
      <div class="">
        <div class="card restaurant-infos" style="width: 100%;">
            <div class="row g-0">
                <div class="col-md-6">
                  <img src="{{ asset('/images/restaurant.png') }}" class="img-fluid" alt="image-restaurant">
                </div>
                <div class="col-md-6 restaurant-infos">
                  <div class="card-body">
                    <h5 class="card-title">{{ restaurant.name }}</h5>
                    <p class="card-text">{{ restaurant.address}}</p>
                    <p class="card-text">{{ restaurant.zipcode}} {{ restaurant.city }}</p>
                    <p class="card-text"><em>{{ restaurant.speciality}}</em></p>
                    <p class="card-text">Téléphone: {{ restaurant.phone}}</p>                                
                  </div>                  
                </div>                
            </div>
        </div>  

        <div class="booking-form d-flex justify-content-center">
          <div class="mt-5">
            <label for="person-number">Nombre de personnes</label>
            <select name="person-number" class="custom-select" id="person-number">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <!--
          <div class="mt-5">
            <label for="lunch-choice" class="">Déjeuner</label>
            <input type="checkbox" name="lunch" class="mr-5" id="lunch-choice">
            <label for="diner-choice" class="">Dîner</label>
            <input type="checkbox" name="diner" class="" id="diner-choice">                
          </div> 
          -->            
          <div class="booking-controls mb-5 justify-content-center">
            <button class="btn btn-info mr-3">Réserver sans commande</button>
            <button class="btn btn-info">Réserver avec commande</button> 
          </div>  
        </div>                                     
      </div>
    </section>

    <section class=" col-5 booking-schedule">
        <div class="card">
          <div id="picker">
          </div>
          <div class="text-center">
            <div id="myc-time-up">
              <i class="fa fa-chevron-up fa-lg m-2"></i>
            </div>
            <div id="myc-time-down">
              <i class="fa fa-chevron-down fa-lg m-2"></i>
            </div>           
          </div>
        </div>
    </section>
</div>

{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js"></script>
<!-- calendar library picker -->
<script src="{{ asset("js/mark-your-calendar.js") }}"></script>

<script>

 const timeUpScroll = document.getElementById('myc-time-up');
 const timeDownScroll = document.getElementById('myc-time-down');
 
 timeUpScroll.onclick = function () {
   const height = document.getElementById('myc-available-time-container').scrollTop -= 150;
   console.log(height)
 }
 
 timeDownScroll.onclick = function () {
   const height = document.getElementById('myc-available-time-container').scrollTop += 150;
   console.log(height)
 }

const hours = [
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ]
];

const months = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'];


const weekdays = ['lun', 'mar', 'mer', 'jeu', 'ven', 'sam', 'dim'];

const prevHtml = `
            <div id="myc-prev-week">
                <i class="fa fa-chevron-left"></i>
            </div>
        `;


const nextHtml = `
            <div id="myc-next-week">
                <i class="fa fa-chevron-right"></i>
            </div>
        `;


$('#picker').markyourcalendar({
  startDate: new Date(),
  availability: hours,
  isMultiple: true,
  months: months,
  prevHtml: prevHtml,
  nextHtml: nextHtml,
  weekdays: weekdays,
  onClickNavigator: function(ev, instance) {
    const hours = [
      [

    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ]

  ],

  [

    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ]

  ],

  [

    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ]

  ],

  [

    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ]

  ],

  [

    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ]

  ],

  [

    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ]

  ],

  [

    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ],
    ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00' ,'21:00' ]

    ]

      
    ];

    const time = Math.floor(Math.random() * 10) % 7;
    console.log(time);
    instance.setAvailability(hours[1]);
  }

});

</script>
{% endblock %}