{% extends 'base.html.twig' %}


{% block body %}

    <!--search restaurants for -->

    <div class="search-form text-center">
        <h1 class="mt-5 text-muted">Trouver un restaurant</h1>
        <form class="search-restaurant mt-5" action='#' method='GET'>
            <div class="mb-2">
                <input type="text" class="form-control restauAutocomplete" name="restaurant" placeholder="Nom de restaurant" autocomplete="off">
            </div>

            <span>ou</span>

            <div class="mb-2 mt-2">
                <input type="text" class="form-control specialityAutocomplete" name="speciality" placeholder="Spécialité" autocomplete="off">
            </div>  
            <span>ou/et</span>
            <div class="mt-2">
                <input type="text" class="form-control cityAutocomplete" name="city" placeholder="Ville" autocomplete="off">
            </div>     

            <button type="submit" class="btn btn-info mt-3">rechercher</button>
        </form>
    </div>


    <!-- search content -->
    
    <section class="search-content">

        

        {% if restaurants is not null and restaurants is defined %}


        <!-- Display number of search results -->

        <div class="row justify-content-center my-5">

            {% set searchResultCounter = restaurants.getTotalItemCount > 1 ? 'restaurants' : 'restaurant' %}
            
            {% if city is empty %} 

                <h2>Il éxiste {{ restaurants.getTotalItemCount }} {{ searchResultCounter }}</h2>

            {% else %}


                <h2>Il éxiste {{ restaurants.getTotalItemCount }} {{ searchResultCounter }} à {{ city }}</h2>

            {% endif %}

        </div>
        
        <!--  Display number of search results -->

        <!-- Display restaurants cards -->

        {% for restaurant in restaurants %}
            <div class="row mt-5">
                <div class= "col d-flex justify-content-center">
                    <div class="card mt-5" style="width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-4">
                              <img src="{{ asset('/images/restaurant.png') }}" class="img-fluid" alt="image-restaurant">
                            </div>
                            <div class="col-md-8 restaurant-infos">
                              <div class="card-body">
                                <h5 class="card-title">{{ restaurant.name }}</h5>
                                <p class="card-text">{{ restaurant.address}}</p>
                                <p class="card-text">{{ restaurant.zipcode}} {{ restaurant.city }}</p>
                                <p class="card-text"><em>{{ restaurant.speciality}}</em></p>
                                <p class="card-text">Téléphone: {{ restaurant.phone}}</p>                                
                              </div>
                            </div>
                        </div>                        
                    </div>                   
                </div>                
            </div>
            <div class="row mt-1">
                <div class="col d-flex justify-content-end">
                    <a href="{{ path('booking', { id: restaurant.id }) }}" class="btn btn-info">Réserver</a>
                    <a href="{{ path('booking', { id: restaurant.id }) }}" class="btn btn-info ml-2">Commander</a>
                </div>
            </div>
                                             
        {% endfor %}
        
        <!-- Display restaurants cards -->
           
        <!-- pagination -->
        <div class="row justify-content-center navigation mt-5">
            {{ knp_pagination_render(restaurants, 'Base/pagination.html.twig') }}
        </div> 
        <!-- pagination -->

        {% endif %}

    </section>
    
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
<script type="text/javascript">

    $(document).ready(function(e) {
        $('.restauAutocomplete').autoComplete({
            minLength: 2,
            resolverSettings: {
                // Route to the autocomplete Controller, and name of the finder to use
                url: "{{path('restaurant_autocomplete')}}",
            },
            bootstrapVersion: '4',
            events: {
                searchPost: function (resultFromServer) {
                    // Manipulate returned data in order to display title in the search result
                    results = new Array();
                    resultFromServer.forEach((element) => {
                        results.push({'text': element.name });
                    });
                
                    return results;
                }            
            }
        });

        $('.specialityAutocomplete').autoComplete({
            minLength: 2,
            resolverSettings: {
                // Route to the autocomplete Controller, and name of the finder to use
                url: "{{path('speciality_autocomplete')}}",
            },
            bootstrapVersion: '4',
            events: {
                searchPost: function (resultFromServer) {
                    // Manipulate returned data in order to display title in the search result
                    results = new Array();
                    resultFromServer.forEach((element) => {
                        results.push({'text': element.speciality });
                    });
                
                    return results;
                }            
            }
        });

        $('.cityAutocomplete').autoComplete({
            minLength: 2,
            resolverSettings: {
                // Route to the autocomplete Controller, and name of the finder to use
                url: "{{path('city_autocomplete')}}",
            },
            bootstrapVersion: '4',
            events: {
                searchPost: function (resultFromServer) {
                    // Manipulate returned data in order to display title in the search result
                    results = new Array();
                    resultFromServer.forEach((element) => {
                        results.push({'text': element.city });
                    });
                   
                    return results;
                }            
            }
        });
    });
</script>
{% endblock %}