{% extends 'BackOffice/ManagerAccount/layout.html.twig' %}

{% block stylesheets%}
    {{ parent() }}    
{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}

    <div class="alert alert-success fade show" role="alert">
        {{ message }}
    </div>

{% endfor %}



    <div>  
        <div class="text-muted">
              <h1>Gérer mes menus</h1>
        </div> 

{% if menus | length > 0 %}

        <section class="card mt-5 p-3" id="categories-list">            
            
            <table class="table">
                <thead>
                    <tr>
                        <th class="p-3" scope="col">Menu</th>
                        <th class="p-3" scope="col">Description</th>
                        <th class="p-3" scope="col">Composition</th>                        
                        <th class="p-3" scope="col">Prix(Euros)</th>
                        <th class="p-3" scope="col">Ajouté le</th>
                        <th class="p-3" scope="col">Actions</th>                        
                    </tr>
                </thead>

                {% for menu in menus %}

                <tbody>                    
                    <tr>
                        <td class="p-3">{{ menu.name }}</td>
                        <td class="p-3">{{ menu.description|u.truncate(30, '...') }}</td>
                        <td class="p-3">{% for menuItem in menu.menuItems %}{{ menuItem }},{% endfor %}</td>                        
                        <td class="p-3">{{ menu.price | format_currency('EUR')}}</td>
                        <td class="p-3">{{ menu.createdAt|date('d-M-Y') }}</td>
                        <td class="p-3">
                            <a href="" type="button" class="btn btn-info btn-sm">Modifier</a>
                            <button
                                class="btn btn-secondary btn-sm mx-1"
                                data-toggle="modal"
                                data-target="#delete-modal"
                                data-menuId ="{{ menu.id }}"
                                >Supprimer
                            </button>  
                        </td>
                    </tr>                                     
                </tbody>

                {% endfor %} 
            </table>            

        </section>
    </div>

    {% else %}

    <div class="alert alert-info">
        <p>Vous ne proposez pas de menu pour le moment.</p>
    </div>
    

{% endif %}
    {# set an array of item categories included on each category #}
    {% set categories = [] %}
    
    {% for menuItem in menuItems %}
        {% if menuItem.category not in categories %}
            {% set categories = categories|merge([menuItem.category]) %}
        {% endif %}
    {% endfor %}
    {# set an array of item categories included on each category #}

    <section class="card mt-5 p-3">
        <h2>Composer un nouveau menu</h2>
        <ul>
            {% for error in errors %}
                <li class="form-error">{{ error.message }}</li>
            {% endfor %}
        </ul>
            
        <form name="menu" method="post" class="menu[menuItems]">
            <div class="my-3">
                <label for="menu_name" class="form-label">Nom</label>
                <input type="text" id="menu_name" name="menu[name]" class="form-control">
            </div>
            <div class="my-3">
                <label for="menu_description" class="form-label">Description</label>
                <textarea id="menu_description" name="menu[description]" class="form-control"></textarea>
            </div>
            <div class="my-3">
                <fieldset>

                    <legend class="">Ajouter des produits à votre menu</legend>
                    <div class="row mt-3">
                    {% for category in categories | sort((a, b) => a.name <=> b.name) %}

                        
                            <div class="col-3">
                                <h5>{{ category }}</h5>
                                {% for menuItem in menuItems |  sort((a, b) => a.name > b.name) %}

                                    {% if menuItem.category == category %}
                                    <div>
                                        <input type="checkbox" id="menuItem_{{ menuItem.name }}" name="menu[menuItems][]" value="{{ menuItem.id }}" class="m-2">
                                        <label for="meniItem_{{ menuItem.name }}">{{ menuItem.name }}</label> 
                                    </div>
                                    {% endif %} 

                                {% endfor %}
                            </div>
                        

                    {% endfor %}
                    </div>

                </fieldset>
            </div>
            <div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('token_id')}}">
            </div>
            <div>
                <button type="submit" class="btn btn-info">Ajouter</button>
            </div>

        </form> 
        
    </section>
    

    <!-- Modal -->
    
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">          
          <div class="modal-body text-center m-2">
            <h5>Voulez vraiment supprimer ce menu?</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <a href="" id="delete-menu">
                <button type="button" class="btn btn-info">Confirmer</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->


{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">


    $(document).ready(function () {
        $('#delete-modal').on('show.bs.modal', function (event) {

            const menuId  = event.relatedTarget.getAttribute("data-menuId");

            let url = `{{ path('delete_menu', {'id': 'menu_id' }) }}`;
            url = url.replace('menu_id', menuId)
            $('#delete-menu').attr('href', url);            
        })
    })


</script>
{% endblock %}