{% extends 'BackOffice/ManagerAccount/layout.html.twig'%}

{% block body %}

{% set status = ['En attente', 'Validée']%}
{% set color = ['warning', 'success']%}

    <div class="text-muted">
        <h1>Détails de la commande</h1>
    </div>
    <section class="card mt-5 p-3" id="order-details">
        <h2>Commande effectuée par {{ booking.user.firstName }} {{ booking.user.lastName }} <small>le {{ booking.bookingAt | date('d M Y') }}</small>. <span class="badge badge-{{ color[order.status] }} text-white">{{ status[order.status] }}</span></h2> 
        <ul class="p-0">
            <li><strong>Téléphone du client:</strong> {{ booking.user.phone }}</li>
            <li><strong>Type de commande:</strong> {% if order.type == "onSpot" %}Sur place{% else %}A emporter{% endif %}</li>
            <li><strong>Date:</strong> {{ booking.bookingDate | date('d M Y') }} à {{ booking.bookingDate | date('H:i') }}</li>
            <li><strong>Nombre de couverts:</strong> {{ booking.coversNumber }}</li>
        </ul>
        <div class="about">

            <h3>A propos de cette commande</h3>
            {% if order.comment is not null %}

                <p>
                    {{ order.comment }}
                </p>
            {% else %}
                <p>Le client n'a rien précisé.</p>
            {% endif %}
        
        </div>
        <div class="my-3">

            <h3>Produits à préparer</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Quantité</th>
                        <th>Prix</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for orderLine in order.orderLines %}

                    <tr>
                        <td>{{ orderLine.name }}</td>
                        <td>{{ orderLine.quantity }}</td>
                        <td>{{ orderLine.price | format_currency('EUR') }}</td>                        
                    </tr>
                    
                    {% endfor %}
                    
                    <tr>
                        <td></td>
                        <td class="text-right"><strong>Montant total de la commande:</strong></td>
                        <td>{{ order.amount | format_currency('EUR') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class"form-controls">
            <a href="{{path('show_orders')}}" type="button" class="btn btn-secondary">Retour</a>
        </div>
    </section>

{% endblock %}