{% extends 'BackOffice/ManagerAccount/layout.html.twig'%}

{% block body %}

    <div class="text-muted">
        <h1>Commandes</h1>
    </div>

    <section class="card mt-5 p-3" id="order_list">

    {% set status = ['En attente', 'Validée']%}
    {% set color = ['warning', 'success']%}        

        {% if bookings | length > 0 %}

            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Heure</th>                        
                        <th>Vente</th>
                        <th>Nom du client</th>
                        <th>Téléphone</th>
                        <th>Total</th>                            
                        <th class="text-center">Statut</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                    
                <tbody>
                    {% for booking in bookings %}                            
                        
                        <tr>
                            <td>{{ booking.bookingDate | date('d M Y') }}</td>
                            <td>{{ booking.bookingDate | date('H:i') }}</td>
                            <td>{% if booking.bookingOrder.type == "onSpot" %}Sur place{% else %}A emporter{% endif %}</td>
                            <td>{{ booking.user.lastName }} {{ booking.user.firstName }}</td>
                            <td>{{ booking.user.phone }}</td>                            
                            <td>{{ booking.bookingOrder.amount | format_currency('EUR') }}</td>
                            <td class="order-status-{{ booking.bookingOrder.id }} text-center">
                                <h5><small><span class="badge badge-{{ color[booking.bookingOrder.status] }} text-white">{{ status[booking.bookingOrder.status] }}</span></small></h5>
                            </td>                            
                            <td>
                                <a href="{{path('show_order_details', {'id': booking.bookingOrder.id}) }}" type="button">
                                    <i class="fa fa-eye mr-3 text-info"></i>
                                </a>
                                <i type="button" class="fa fa-check mr-3 text-success order-validation" data-orderId="{{ booking.bookingOrder.id }}"></i>
                                <i
                                    type="button"
                                    class="fa fa-trash text-danger mr-3"
                                    data-toggle="modal"
                                    data-target="#delete-modal"
                                    data-orderId="{{ booking.bookingOrder.id }}"
                                    >
                                </i>
                            </td>
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>

        {% else %}

            <div class="alert alert-info mb-0">
                <p>Aucune commande en cours.</p>
            </div>

        {% endif %}
                
    </section>

    <!-- Delete order modal -->

        {% include 'BackOffice/ManagerAccount/Order/Partials/delete/delete_modal.html.twig' %}

    <!-- Delete order Modal -->
    

{% endblock %}
{% block javascripts %}
{{ parent() }}

<script >

    $(document).ready(function () {
        
        // Order validation(change order status from pending to validated).
        const validOrderButton = $('.order-validation');
        validOrderButton.click(function(event) {

            const orderId = $(this).attr('data-orderId');
            let url = `{{ path('valid_order', {'id': 'order_id' })}}`;
            url = url.replace('order_id', orderId);

            fetch(url, {
                method: 'post',                
            })
            .then((response) => response.json())
            .then((data) => {
                console.log(JSON.parse(data))
                const selector = '.order-status' + '-' + orderId;
                $(selector).html('<h5><small><span class="badge badge-success text-white">Validée</span></small></h5>')
            })
        })
        
        // Control order delete modal
        $('#delete-modal').on('show.bs.modal', function (event) {

            const orderId  = event.relatedTarget.getAttribute("data-orderId");

            let url = `{{ path('delete_order', {'id': 'orderId_id' }) }}`;
            url = url.replace('orderId_id', orderId);
            $('#delete-order').attr('href', url);            
        })

    })

    
</script>
{% endblock %}